body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: hsl(0, 61%, 64%);
  color: hsl(0, 0%, 100%);
  position: relative;
  z-index: 1;
}

body::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(../images/bg-intro-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  mix-blend-mode: multiply;
  z-index: -1;
}

#main {
  display: flex;
  min-height: 80vh;
  align-items: center;
  padding: 3rem 2rem;
  max-width: 90rem;
  gap: 2rem;
  flex-direction: column;
}

#form {
  background-color: hsl(0, 0%, 100%);
  padding: 1.5rem 2.25rem;
  border-radius: 0.5rem;
  color: hsl(249, 10%, 26%);
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.25em;
}

.intro-title {
  font-size: 3rem;
  line-height: 1.1;
  text-transform: capitalize;
  max-width: 20ch;
}

.intro-p {
  max-width: 50ch;
}


@media (min-width: 45rem) {
    body::after {
        background-image: url(../images/bg-intro-desktop.png);
    }
  #main {
    flex-direction: row;
  }
  .intro {
    align-items: flex-start;
    text-align: start;
  }
}


.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  gap: 2rem;
  margin-block-end: 2rem;
}

.form > h2 {
  padding: 0.75rem;
  text-align: center;
  background-color: hsl(248, 32%, 49%);
  border-radius: 0.5rem;
  width: 100%;
  font-size: 1.25rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.form-field > input {
  padding: 0.75rem 1.25rem;
  font: inherit;
  border-radius: 0.5rem;
  border: 0;
  outline: 1px solid hsl(249, 10%, 26%);
  color: hsl(249, 10%, 26%);
}
.form-field > input[data-error="true"] {
  outline: 1px solid hsl(0, 100%, 74%);

}

.form-field > input[data-error="true"]::placeholder {
  color: hsl(0, 100%, 74%);
}





button[type="submit"] {
  display: inline-block;
  margin-block-start: 2rem;
  margin-block-end: 1rem;
  width: 100%;
  padding: 0.75rem 1.25rem;
border: 0;
outline: 0;
background-color: hsl(154, 59%, 51%);
border-radius: .5rem;
cursor: pointer;
transition: all 300ms ease-in-out;
}

button[type="submit"]:hover,
button[type="submit"]:focus {
  opacity: 0.75;
}


.form  p {
  text-align: center;
  color:  hsl(246, 25%, 77%);
  font-size:0.75rem ;
}

.form a {
  color: hsl(0, 100%, 74%);
  text-decoration: none;
  font-weight: bold;

}

.error {
  position: absolute;
  right: 0.5rem;
  bottom: -2.1rem;
  color: hsl(0, 100%, 74%);
  font-size: 0.85rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  gap: .25rem;
  justify-content: center;
  flex-direction: column-reverse;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  transition: all 200ms ease-in-out;
}

.error::after {
  content: url(../images/icon-error.svg);
}

.error[data-error="true"] {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}